[DEFAULT]


[gogamechen3]

#
# From gogamechen3
#

# Manager extend rpc endpoint module string (import string value)
#module = gogamechen3.api.rpc

# Endpoint max lock size (integer value)
#max_lock = 100

# agent appcaclition affinity bitwise, [gamesvr:1] [publicsvr:2] [gmsvr:4]
# [publicsvr&gmsvr:6] [gamesvr&publicsvr&gmsvr:7] and so on (integer value)
# Allowed values: 1, 2, 3, 4, 5, 6, 7
#agent_affinity = 1

# Entity process periodic check interval by min (integer value)
# Minimum value: 0
# Maximum value: 10
#periodic_interval = 3

# Auto start entity process times when entity dead, 0 means do not auto restart
# dead entity process (integer value)
# Minimum value: 0
# Maximum value: 5
#auto_restart_times = 1

# Entity will remove from auto restart periodic task dead process list after
# seconds (integer value)
# Minimum value: 30
# Maximum value: 600
#pop_from_deads = 180


[gogamechen3.gamesvr]

#
# From gogamechen3.gamesvr
#

# databse rw user source privilege limit (string value)
#source = <None>

# databse ro user source privilege limit (string value)
#rosource = <None>

# data db rw user name (string value)
#datadb_user = gogamedb-rw

# data db rw user passwd (string value)
#datadb_passwd = <None>

# data db ro user name (string value)
#datadb_ro_user = gogamedb-ro

# data db ro user passwd (string value)
#datadb_ro_passwd = <None>

# logdb db rw user name (string value)
#logdb_user = gogamelog-rw

# logdb db rw user passwd (string value)
#logdb_passwd = <None>

# logdb db ro user name (string value)
#logdb_ro_user = gogamelog-ro

# logdb db ro user passwd (string value)
#logdb_ro_passwd = <None>


[gogamechen3.gmsvr]

#
# From gogamechen3.gmsvr
#

# databse rw user source privilege limit (string value)
#source = <None>

# databse ro user source privilege limit (string value)
#rosource = <None>

# data db rw user name (string value)
#datadb_user = gogmdb-rw

# data db rw user passwd (string value)
#datadb_passwd = <None>

# data db ro user name (string value)
#datadb_ro_user = gogmdb-ro

# data db ro user passwd (string value)
#datadb_ro_passwd = <None>


[gogamechen3.publicsvr]

#
# From gogamechen3.publicsvr
#

# databse rw user source privilege limit (string value)
#source = <None>

# databse ro user source privilege limit (string value)
#rosource = <None>

# data db rw user name (string value)
#datadb_user = gocross-rw

# data db rw user passwd (string value)
#datadb_passwd = <None>

# data db ro user name (string value)
#datadb_ro_user = gocross-ro

# data db ro user passwd (string value)
#datadb_ro_passwd = <None>


[gopcdn]

#
# From gopcdn
#

# alias impl class (multi import string)
#aliases = gogamechen3.plugin.alias.Alias
